.main-content{
  z-index: 2;
  position: relative;
}
.background-rect{
  width: 100%;
  height: 200px;
  background: rgba(123,255,123,.4);
  position: absolute;
  top: 100px;
  left: 0;
  transform: skewY(-8deg);
}
.second-rect{
  transform: skewY(8deg);
  top: 300px;
}
