@import url('https://fonts.googleapis.com/css?family=Lato');
body{
  margin: 0;
  padding: 0;
  background: #eee;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.browserContainer{
  margin-top: 10px;
}
input[type="number"]
{
  border: none;
  margin-right: 10px;
  padding: 4px;
  font-size: 1em;
  border-radius: 5px;
  background: #bbb;
  font-family: 'Lato',sans-serif;
  width: 200px;
  border: 1px solid black;
  box-shadow: 1px 1px 5px #888;
}
.searchButton{
  border: none;
  background: #bbb;
  font-size: 1em;
  padding: 4px;
  border-radius: 5px;
  font-family: 'Lato',sans-serif;
  cursor: pointer;
}
.resultContainer{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  align-items: center;
}
.response{
  width: calc((100% / 7));
  background: #bbb;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid #222;
}
@media screen and (max-width: 900px)
{
  .response{
    font-size: 1.5em;
  }
  .notVisible{
    display: none;
  }
}
